html{
    background-color: #fff;
}


/*---------------------------------- Student Profile ----------------------------------*/
#resumeModal .modal-content{
    height: 850px;
}

#resumeModal .modal-body{
    height:700px;
}

#addProject{
    margin-bottom: 2em;
}

.formItems{
    margin: 1em 0;
}

li {
    list-style: none;
}
.studentInfo li{
    padding: 20px;
    margin: 0 20px;
}

.btn, .md-button{
    font-size: 0.9em;
    margin: 0 0.5em;
}

#nameEdit{
    font-size: 50%;
}

.eventSearch{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

md-input-container{
    margin: 0 10%;

}
