html{
    background-color: #fff;
}




#addProject{
    margin-bottom: 2em;
}

.formItems{
    margin: 1em 0;
}

li {
    list-style: none;
}
.studentInfo li{
    padding: 20px;
    margin: 0 20px;
}
