html, body{
    background-color: white;
}

.navbar.navbar-default{
    background-color: #26A69A;
    border: 0px;
}
.navbar.navbar-default a,
.navbar.navbar-default li a{
    color:white;
}


/*---------------------------------- Reusable Components ----------------------------------*/
.md-button{
    padding: 1px;
}

.md-button.primaryBtn {
    color : white;
    background-color: #26A69A;
    border-radius: 10px;
    font-size: 16px;
    min-width: 0px;
    min-height: 0px;

    line-height: 30px;
}

.md-button.primaryBtn:not([disabled]):hover {
    background-color: #00695C;
    color: white;
}


/*---------------------------------- Home ----------------------------------*/
.homeSections{
    margin: 10% 0;
}

.section-color{
    background-color: #f4f4f4;
}


/*---------------------------------- Log In ----------------------------------*/

#registration{
    padding: 3% 0 0 0;
}

#registration p{
    text-align: center;
}

#registration input{
    background: teal;
}

#registration label{
    color: white;
    margin: 0;
    padding: 5px 20px;
}

.signUpForm {
    width: 50%;
    height: auto;
    margin: 0 25%;
}

.ng-hide {
    height: 0;
}


/*---------------------------------- Student Profile ----------------------------------*/

.studentProfileTable .flex{
    text-align: center;
}

#resumeModal .modal-content{
    height: 850px;
}

#resumeModal .modal-body{
    height:700px;
}

#addProject{
    margin-bottom: 2em;
}

.projectTable div{
    text-align: center;
}

.projectTable .description{
    text-align: justify;
}

.formItems{
    margin: 1em 0;
}

li {
    list-style: none;
}

.studentInfo li{
    padding: 20px;
    margin: 0 20px;
}

.btn, .md-button{
    font-size: 0.9em;
    margin: 0 0.5em;
}

#nameEdit{
    font-size: 50%;
}

.eventSearch{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

md-input-container{
    margin: 0 10%;

}

.research{
    padding-bottom: 10%;
}

/*-------------------------------------------------------------------*/
/*FOOTER*/
/*-------------------------------------------------------------------*/

#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
	background-color: #003c32;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

footer{
    color: white;
    background-color: #003c32;
    padding: 10px;
    font-size: 70%;
}

.footer-nav{
    list-style: none;
    text-align: center;
    padding: 1em 0 0 0;
}
.footer-nav li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #fff;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color:#ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 120%;

}

.ion-social-twitter,
.ion-social-facebook,
.ion-social-googleplus,
.ion-social-instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-twitter:hover{
    color: #00aced;
}
.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #125688;
}

footer p{
    color: #fff;
    text-align: center;
    font-size: 90%;
    margin-top: 30px;
}
