
  <md-dialog aria-label="{{selectedProject.name}}">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>{{selectedProject.name}}</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <h2></h2>
          <p>{{selectedProject.description}}</p>

          <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="{{selectedProject.picture}}">


          </p>
        </div>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <md-button ng-click="answer('useful')">
          Close
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
