
  <md-dialog aria-label="{{selectedProject.title}}">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>{{selectedProject.name}}</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <h2></h2>
          <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="img/user.png" height="300px">

          <p>{{selectedProject.advisor}}</p>
          <p>{{selectedProject.advisor}}</p>
          <p>{{selectedProject.advisor}}</p>



          </p>
        </div>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <md-button ng-click="answer('useful')">
          Close
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
