
  <md-dialog aria-label="{{selectedResearch.title}}" style="width: 500px">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>{{selectedProject.title}}</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/cancel.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <h2></h2>

 <form  id="updateProjectForm" ng-submit="updateProject(project)">
                        
                        <h1>Please select student for add or remove</h1>
                        <md-select id = "vally" ng-model="myStudent" ng-change ="studentSelected(myStudent)" placeholder="Select student to add" class="md-no-underline">
                         <md-option ng-repeat="researchstudent in students" ng-value="researchstudent.studentid" >
                            {{researchstudent.email}}

                           <!--   <button style="float: right;" class="btn btn-primary" ng-click="addStudentProject(researchstudent.name)">Add Student</button> -->
                         </md-option>
      
                        </md-select> 

                         <button type="submit" ng-click="addStudentProject(SelectedStudent, selectedResearch.rid)" class="btn btn-primary">Add Student</button> 

                         <button type="submit" ng-click="removeStudentProject(SelectedStudent, selectedResearch.rid)" class="btn btn-primary">Remove Student</button>


                        <br><br><br>


                       <!--  <button type="submit" ng-click="updateProject(project)" class="btn btn-primary">Submit</button>
 -->
                    </form>
        </div>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <md-button ng-click="answer('useful')">
          Close
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
