<!-- Stylesheets -->

    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
     <!-- Custom CSS -->
    <link href="lib/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="lib/css/xeditable.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="lib/css/materialize.css"  media="screen,projection"/>

    <link href="/stylesheets/stylesheet.css" rel="stylesheet">



<!-- Scripts -->
    <script src="lib/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <!-- Angular cookies -->
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script type="text/javascript" src="lib/js/materialize.min.js"></script>

    <script src="lib/angularjs/angular-route.min.js"></script>
    <script src="js/app.js"></script>



    <script src="js/Professor.js"></script>
    <script src="js/Student.js"></script>
    <script src="js/Recruiter.js"></script>
    <script src="js/Research.js"></script>
    <script src="js/controller.js"></script>
    <script src="lib/js/xeditable.min.js"></script>
