 <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>ProfileAct</h1>
                        <h3></h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a  href="#/signin" class="btn btn-default btn-lg"></span></i> <span class="network-name">Log In</span></a>
                            </li>
                            <li>
                                <a href="#/signup" class="btn btn-default btn-lg"> <span class="network-name">Sign Up</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
  <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">

            <div class="row homeSections">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Yes, we are Interdisciplinary</h2>
                    <p class="lead">Our Platform is open to any student from any major who is interested in expanding their professional development.
                    Also, established companies as well as startups from any field can participate in our software</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/img/interdisciplinary.jpg" alt="">
                </div>
            </div>

            <div class="row homeSections">
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="/img/researchStock.jpg" alt="">
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Find Your Dream Research Project</h2>
                    <p class="lead">Students can search for different research projects from inside our software. Whether it be inside their campuses
                    or in either of our campuses</p>
                </div>

            </div>

            <div class="row homeSections">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Find Amazing Students</h2>
                    <p class="lead">Recruiters will be able to search for students profiles and make interviews with them. They'll also be able to
                        search for the various research projects that our different campuses are working on.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/img/studentStock.jpg" alt="">
                </div>
            </div>


        </div>
        <!-- /.container -->

    </div>
