<html>
<!-- <link rel="stylesheet" href="bootstrap3/3.3.7/css/bootstrap.min.css"> -->
<!-- <script src="bootstrap3/3.3.7/js/bootstrap.min.js"></script> -->

<body>
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ProfileAct</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li class="active"><a href="professor_profile_beta1.html">Professors</a></li>
      <li><a href="#">Recruiters</a></li>
      <li><a href="research_pofile.html">Projects</a></li>
      <li><a href="#">Undergrad Students</a></li> 
      <li><a href="#">Funding</a></li> 
    </ul>
  </div>
</nav> -->
<center>
<h1>University of Puerto Rico at Mayaguez</h1>
<img src="img/shark.jpg" height="300px" ><br>
<h2>{{profesora.name}} {{profesora.lastName}} {{profesora.title}}</h2>

</center>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Corriculum Vitae</div>
  <div class="panel-body">Lorem Ipsum</div>
</div>
</div>





<div class="container">
<div class="panel panel-default">
<div class="panel-heading">Current Research</div>
<div class="panel-body">
<center>
<table class="table" width="75%">

<tr><th>Project</th><th>Funding</th><th>Students</th></tr>
<tr ng-repeat="project in projects">
      <td>{{ project.title }}</td><td>{{ project.funding }}</td><td>{{ project.student}}</td>
    </tr>
<!-- <tr><td><a href="research_pofile.html"> Shark Buoy</a></td><td>$300.00</td><td>Luis Millan</td></tr> -->


</table>
</center>
</div>
</div>
</div>
</body>


</html>