
<nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/">ProfileAct</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#/professor">Home</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


<center>
<!-- <h1>University of Puerto Rico at Mayaguez</h1>
<img src="img/shark.jpg" height="300px" ><br> -->

<img src="{{professor.profilepic || 'img/user.png'}}" height="200" width="200" />
<h2>{{professor.name}} {{professor.lastname}} PhD:  Advisor</h2>

</center>






<!-- <h3>Upload resume here</h3>
<form id        =  "uploadFormREsyme"
     enctype   =  "multipart/form-data"
     action    =  "/api/resume"
     method    =  "post"
>
<input type="file" name="userResume" />
<input type="hidden" value="{{userid}}" name="userid">
<input type="submit" value="Upload Resume" name="submit">
</form> -->


<!-- <img src="img/score.png">

<iframe src="resumes/miresume.pdf" style="width: 100%;height: 100%;border: none;"></iframe> -->

<div class="container">
    <div class="container">
    <center>
    <h4>Upload Profile Picture</h4>

<form id =  "uploadForm"
enctype   =  "multipart/form-data"
action    =  "/api/photo"
method    =  "post"
>
<input type="file" name="userPhoto" />
<input type="hidden" value="{{userid}}" name="userid">
<input type="hidden" value="professor" name="role">
<input type="submit"  value="Upload image" name="submit">

</form>
</center>
    </div>
    <hr>
    <h2>Active Research Projects </h2>
    <div class="pull-right">
        <button class="btn btn-success" data-target="#viewModalAddResearch" data-toggle="modal" ng-click="display(projects)">Add New Research</button>
    </div>
    <br><br>

    <center>
        <table class="table" width="75%">

            <tr>
                <th>Project</th>
                <th>Description</th>
                <th>Funding</th>
                <th>Students</th>
                <th>Setting</th>
            </tr>
            <tr ng-repeat="project in projects" >
                <td>{{ project.title }}</td><td>{{ project.description }}</td><td>$ {{ project.funding|| '0' }}</td><td>

                <ul><li ng-repeat="s in studentsInProjects"
                ng-if="project.rid == s.rid">{{s.name}} {{s.lastname}}</li></ul>
                 <!--    <button class="btn btn-success" ng-click="showAdvanced($event, project)">View Students</button> -->
                </td>
                  <!-- <td> <button class="btn btn-success" data-target="#viewModalEdit" data-toggle="modal" ng-click="display(project.student)">Manage Students</button> </td> -->
                <td> <button class="btn btn-success"
                ng-click="showAdvanced($event, project)">Edit Research</button> </td>
            </tr>

        </table>
    </center>
</div>




<!-- Add Option -->
<div class="modal fade" tabindex="-1" id="viewModalAddResearch" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Add a new research</h4>
            </div>
            <div class="modal-body">
                <div class="img-wrapper clearfix">
                   <form  id="addProjectForm" ng-submit="addProject(project)">

                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" ng-model = "project.title" class="form-control" id="title">
                    </div>
                    <div class="form-group">
                        <label for="smry">Description</label>
                        <input type="text" ng-model = "project.description"  class="form-control" id="smry">
                    </div>


                </div>


            </div>
            <div class="modal-footer">

                <button type="submit" ng-click="addProject(project)" class="btn btn-primary">Done</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>


<!-- Edit Students-->
 <div class="modal fade" tabindex="-1" id="viewModalEdit"
        data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Update Research Information</h4>
            </div>
            <div class="modal-body">
                <div class="img-wrapper clearfix">
                    <form  id="updateProjectForm" ng-submit="updateProject(project)">
                        <div class="form-group">
                            <label for="newTitle">Title:</label>
                            <input type="text" ng-model = "newTitle" class="form-control" id="titleE" ng-change="addNewTitle(newTitle)">
                        </div>
                        <div class="form-group">
                            <label for="newFunding">Funding:</label>
                            <input type="text" ng-model = "newFunding"  class="form-control" id="smryE" ng-change="addNewFunding(newFunding)">
                        </div>




                        <button type="submit" ng-click="addNewResearch(NuevoTitle)" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-primary"
                                data-dismiss="modal">Close</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
