<div class="container">

	<h1>Search Students</h1>
	

	<form class="form-horizontal" id="eventForm" ng-submit="searchStudents(criteria)">
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Major</label>

			<div class="col-sm-10">

				<select  class="form-control" ng-model="criteria.major">
				<option ng-repeat="major in majors">{{major.value}}</option>
				</select>

				<!-- <input type="text" ng-model="criteria.major" class="form-control"> -->
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">GPA</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="criteria.gpa"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">year</label>
			<div class="col-sm-10">
				<input type="text" ng-model="criteria.year" class="form-control">
			</div>
		</div>
		<!-- <div class="form-group">
			<datetimepicker data-ng-model="data.date" ></datetimepicker>
		</div> -->
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" value="submit" class="btn btn-primary">Search</button>
			</div>
		</div>
	</form>


	<table class="table table-striped">
	 	<tr>
	 		<th>Name</th><th>Major</th><th>GPA</th><th>View</th>
	 	</tr>
	 	<tr ng-repeat="student in results">
	 		<td>{{ student.studentName }} {{student.studentLastName}}</td><td>{{ student.major }}</td><td>{{ student.gpa }}</td><td><button class="btn btn-success" ng-click="display(student)">Look!</button></td>
	 	</tr>
	</table>

</div>