 <nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">ProfileAct</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#/recruiter">Home</a></li>
                <li ><a href="#/recruiterEvent">Events</a></li>
                <li><a href="#/recruiterSearch">Search Students</a></li>
                <li><a href="#/research">Projects</a></li> 
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
<div class="container">

	<h1>Profile</h1>
	

	<br>
	
	<center>
<img src="img/user.png" height="300px" ><br>
<h2>{{recruiter.name}} {{recruiter.lastname}}</h2>
</center>

<div class="container">
<div class="panel panel-default">
<div class="panel-heading">Profile</div>
<div class="panel-body">
<center>
<table class="table" width="75%">

<tr><th>Company</th><th>Email</th><th></th></tr>
<tr>
      <td>{{ recruiter.company }}</td><td>{{ recruiter.email }}</td><td>
      	<button class="btn btn-primary" ng-click="frmToggle()">Edit</button>
      </td>
    </tr>
<!-- <tr><td><a href="research_pofile.html"> Shark Buoy</a></td><td>$300.00</td><td>Luis Millan</td></tr> -->


</table>
</center>
</div>
</div>
</div>

	

	<button class="btn btn-primary" ng-click="go('#/recruiterEvent')">Add Event</button>

	<button class="btn btn-primary" ng-click="go('#/recruiterSearch')">Search Students</button>
	<br>
	<br>

	<form class="form-horizontal" id="profileForm" ng-submit="updateProfile(newr)" hidden>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" ng-model="newr.name" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">Last Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" ng-model="newr.lastname"/>
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Company</label>
			<div class="col-sm-10">
				<input type="text" ng-model="newr.company" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">email</label>
			<div class="col-sm-10">
				<input type="email" ng-model="newr.email" class="form-control">
			</div>
		</div>
		<!-- <div class="form-group">
			<datetimepicker data-ng-model="data.date" ></datetimepicker>
		</div> -->
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" value="submit" class="btn btn-primary">Update</button>
			</div>
		</div>
	</form>

</div>