 <nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">ProfileAct</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#/recruiter">Home</a></li>
                <li ><a href="#/recruiterEvent">Events</a></li>
                <li><a href="#/recruiterSearch">Search Students</a></li>
                <li><a href="#/recruiterFolder">Student Folder</a></li>
                <li><a href="#/research">Projects</a></li> 
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
<div class="container">

	<h1>Search Students</h1>
	

	<form class="form-horizontal" id="eventForm" ng-submit="searchStudents(criteria)">
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Major</label>

			<div class="col-sm-10">

				<select  class="form-control" ng-model="criteria.major">
				<option ng-repeat="major in majors">{{major.value}}</option>
				</select>

				<!-- <input type="text" ng-model="criteria.major" class="form-control"> -->
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">GPA</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" ng-model="criteria.gpa"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
			</div>
		</div>
		<!-- <div class="form-group">
			<datetimepicker data-ng-model="data.date" ></datetimepicker>
		</div> -->
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" value="submit" class="btn btn-primary">Search</button>
			</div>
		</div>
	</form>


	<table class="table table-striped">
	 	<tr>
	 		<th>Name</th><th>Major</th><th>GPA</th><th>View</th>
	 	</tr>
	 	<tr ng-repeat="student in results">
	 		<td>{{ student.name }} {{student.lastname}}</td><td>{{ student.value }}</td><td>{{ student.gpa }}</td><td><button class="btn btn-success" data-target="#viewModal" data-toggle="modal"ng-click="display(student)">Look!</button></td>
	 	</tr>
	</table>
<!-- student template pop up -->
	<div class="modal fade" tabindex="-1" id="viewModal"
        data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">{{selectedStudent.name}} {{selectedStudent.lastname}}</h4>
            </div>
            <div class="modal-body">
                <div class="img-wrapper clearfix">
                    <img ng-src="dummyprofilepic.png">
                </div>
		
		<div class="form-group">
			<h3><strong>Major:</strong> {{selectedStudent.value}}</h3>
		</div>
		<div class="form-group">
			<h3><strong>GPA:</strong> {{selectedStudent.gpa}}</h3>
		</div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">View Resume</button>
                <button type="button" ng-click="addStudentToFolder(selectedStudent)" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</div>