<html>
<!-- <link rel="stylesheet" href="bootstrap3/3.3.7/css/bootstrap.min.css">
<script src="bootstrap3/3.3.7/js/bootstrap.min.js"></script> -->

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ProfileAct</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="professor_pr.html">Professors</a></li>
      <li><a href="#">Recruiters</a></li>
      <li class="active"><a href="#">Projects</a></li>
      <li><a href="#">Undergrad Students</a></li> 
      <li><a href="#">Funding</a></li> 
    </ul>
  </div>
</nav>
<center>
<h1>University of Puerto Rico at Mayaguez</h1>
<img src="user.png" height="300px" ><br>
<h2>Shark Buoy Multi Sensor Underwater Data Collection</h2>

</center>

<div class="container">
<div class="panel panel-default">
<div class="panel-heading">Members</div>
<div class="panel-body">

<center>
  <table class="table" width="75%">
    <tr><th>Name</th><th>Role</th></tr>
    <tr><td>Nayda Santiago PhD</td><td>Advisor</td></tr>
    <tr><td>Luis Millan</td><td>Undergraduate Researcher</td></tr>
  </table>
  </center>

  </div>
  </div>
</div>


<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Abstract</div>
  <div class="panel-body">Lorem Ipsum</div>
</div>
</div>


<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Viaul Aid</div>
  <div class="panel-body">Lorem Ipsum</div>
</div>
</div>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Current Objectives</div>
  <div class="panel-body">
  <ul>
    <li>Join all buoy parts</li>
    <li>Send camera data over wifi</li>
    <li>Make sonar collect data</li>
    <li>Create filters for microphone</li>
  </ul></div>
</div>
</div>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Financial Analysis</div>
  <div class="panel-body">
    
<center>
<table class="table" width="75%">
<tr><th>Material</th><th>Cost</th><th>Reason</th></tr>
<tr><td>Camera Sensor</td><td>$300.00</td><td>Obtain data for image recognition</td></tr>
</table>
</center>

  </div>
</div>
</div>


<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Task Division</div>
  <div class="panel-body">
    
<center>
<table class="table" width="75%">
<tr><th>Task</th><th>Action Owner</th><th>Status</th><th>Description</th></tr>
<tr><td>Connect Camera Sensor</td><td>Luis Millan, Luis Padro</td><td>Completed</td><td>Obtain data for image recognition</td>
</tr>
</table>
</center>

  </div>
</div>
</div>


<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Visual Aids</div>
  <div class="panel-body">Lorem Ipsum</div>
</div>
</div>







</body>


</html>