<nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">ProfileAct</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#/recruiter">Home</a></li>
                <li><a href="#/recruiterEvent">Events</a></li>
                <li><a href="#/recruiterSearch">Search Students</a></li>
                <li><a href="#/recruiterFolder">Student Folder</a></li>
                <li><a href="#/research">Projects</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

<div class="container">

    <h1>Search Reasearch</h1>
    <md-input-container>
        <label>Global search</label>
        <input ng-model="query" type="search">
    </md-input-container>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th><th>Major</th><th>Advisor</th><th>View</th><th>Contribution</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="research in projectazos | filter: query">
                <td>{{ research.name }}</td>
                <td>{{ research.department }}</td>
                <td>{{ research.advisor }}</td>
                <td>
                    <!-- <a class="waves-effect waves-light btn modal-trigger" href="#viewModal">Look!</a> -->
                    <md-button class="md-default md-raised" ng-click="showAdvanced($event, research)">Look!</md-button>
                </td>
                <td>
                    <md-button class="btn btn-success" data-target="#viewModalDonate" data-toggle="modal" ng-click="display(research)">Donate</md-button>
                </td>
            </tr>
        </tbody>

    </table>

</div>


<!-- <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div> -->

<!-- Research template pop up -->
<div class="modal" tabindex="-1" id="viewModal"
        data-keyboard="false" data-backdrop="static">
<!--
        <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div> -->
    <!-- <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div> -->
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">{{selectedResearch.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="img-wrapper clearfix">
                    <img ng-src="dummyprofilepic.png">
                </div>

		<div class="form-group">
			<h3><strong>Advisor:</strong> {{selectedResearch.advisor}}</h3>
		</div>
		<div class="form-group">
			<h3><strong>Department:</strong> {{selectedResearch.department}}</h3>
		</div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">View Resume</button>
                <button type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Donate Option -->
	<div class="modal fade" tabindex="-1" id="viewModalDonate"
        data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Make a Donation to {{selectedResearch.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="img-wrapper clearfix">
                   <form>

                   	<div class="form-group">
						  <label for="cname">Company Name:</label>
						  <input type="text" class="form-control" id="cname">
						</div>
						<div class="form-group">
						  <label for="crdtc">Credit Card:</label>
						  <input type="text" class="form-control" id="crdtc">
					</div>

					<div class="form-group">
						  <label for="qty">Quantity:</label>
						  <input type="text" class="form-control" id="qty">
					</div>


                   </form>
                </div>

		<div class="form-group">
			<h3><strong>Advisor:</strong> {{selectedResearch.advisor}}</h3>
		</div>
		<div class="form-group">
			<h3><strong>Department:</strong> {{selectedResearch.department}}</h3>
		</div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary">Make Donation</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
