<div class="container">

	 <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputUserName">Username</label>
                        <input ng-model="tempUsr.username" class="form-control" placeholder="Login Username"
                                type="text" id="inputUserName" />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input ng-model="tempUsr.password" class="form-control" placeholder="Login Password"
                                type="password" id="inputPassword" />
                    </div>
                     <button type="submit" class="btn btn-primary"  ng-click="login(tempUsr)">LogIn</button>
                </form>
            </div>

</div>