
<div layout="row" id="registration" class="container">

	<h4 flex="10"> Are you a:</h4>
	<form flex="90" layout="row">
		<p flex>
			<md-button class="md-raised md-primary"><label for="studentSignUp">Student?</label></md-button>
			<input class="with-gap" id="studentSignUp" type="radio" name="content" ng-model="content" value="studentSignUp">
		</p>
		<p flex>
			<md-button class="md-raised md-primary"><label for="recruiterSignUp">Recruiter?</label></md-button>
			<input class="with-gap" id="recruiterSignUp" type="radio" name="content" ng-model="content" value="recruiterSignUp">
		</p>
		<p flex>
			<md-button class="md-raised md-primary"><label for="professorSignUp">Professor?</label></md-button>
			<input class="with-gap" id="professorSignUp" type="radio" name="content" ng-model="content" value="professorSignUp">
		</md-button>
	</p>

</form>

</div>

<div class="row">

	<div class="col-sm-4 signUpForm" ng-show="content == 'studentSignUp'">
		<div class="header">

			<h3 class="title">Student</h3>
		</div>



		<form>

			<div class="form-group">
				<label for="inputFirstName">First Name</label>
				<input ng-model="tempUsr.name" class="form-control" placeholder="First Name"
				type="text" id="inputFirstName" />
			</div>
			<div class="form-group">
				<label for="inputLastName">Last Name</label>
				<input ng-model="tempUsr.lastname" class="form-control" placeholder="Last Name"
				type="text" id="inputLastName" />
			</div>

			<div class="form-group">
				<label for="inputUserName">Username</label>
				<input ng-model="tempUsr.username" class="form-control" placeholder="Login Username"
				type="text" id="inputUserName" />
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input ng-model="tempUsr.password" class="form-control" placeholder="New Password"
				type="password" id="inputPassword" />
			</div>
			<div class="form-group">
				<label for="inputPasswordConfirmation">Confirm Password</label>
				<input ng-model="tempUsr.confirmPassword" class="form-control" placeholder="Confirm Password"
				type="password" id="inputPassword" />
			</div>
			<div class="form-group">
				<label for="gpa">GPA</label>
				<input ng-model="tempUsr.gpa" class="form-control" placeholder="GPA ?/4.0"
				type="number" id="number" />
			</div>
			<div class="form-group">
				<label for="major">Major</label>
				<select  class="form-control" ng-model="tempUsr.major">
					<option id="major" ng-repeat="major in majors" value="{{major.majorid}}">{{major.value}}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputYear">Year of Study</label>
				<input ng-model="tempUsr.year" class="form-control" placeholder="Year"
				type="number" id="inputYear" />
			</div>
			<div class="form-group">
				<label for="inputPassword">Email</label>
				<input ng-model="tempUsr.email" class="form-control" placeholder="Input email"
				type="email" id="inputEmail" />
			</div>

			<div class="form-group">
				<label for="inputRes">Resume</label>
				<input ng-model="tempUsr.resume" class="btn-primary" 
				type="file" id="inputRes" />
			</div>



			<!-- <form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">
				<input type="file" name="userPhoto" />
				<md-button class="md-raised" type="submit" name="submit">Upload Image</md-button>
			</form> -->
			<br>
			<button type="submit" class="btn btn-primary"  ng-click="signUpStudent(tempUsr)">SignUp</button>
		</form>



	<form id        =  "uploadFormResume"
     enctype   =  "multipart/form-data"
     action    =  "/api/resume"
     method    =  "post"
>
<input type="file" name="userResume" />
<input type="submit" value="Upload Resume" name="submit">
</form>


	</div>

	<div class="col-sm-4 signUpForm" ng-show="content == 'recruiterSignUp'">
		<div class="header">

			<h3 class="title">Recruiter</h3>
		</div>

		<form>
			<div class="form-group">
				<label for="inputFirstName">First Name</label>
				<input ng-model="tempUsr.name" class="form-control" placeholder="First Name"
				type="text" id="inputFirstName" />
			</div>
			<div class="form-group">
				<label for="inputLastName">Last Name</label>
				<input ng-model="tempUsr.lastname" class="form-control" placeholder="Last Name"
				type="text" id="inputLastName" />
			</div>
			<div class="form-group">
				<label for="inputUserName">Username</label>
				<input ng-model="tempUsr.username" class="form-control" placeholder="Login Username"
				type="text" id="inputUserName" />
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input ng-model="tempUsr.password" class="form-control" placeholder="New Password"
				type="password" id="inputPassword" />
			</div>
			<div class="form-group">
				<label for="inputPasswordConfirmation">Confirm Password</label>
				<input ng-model="tempUsr.confirmPassword" class="form-control" placeholder="Confirm Password"
				type="password" id="inputPassword" />
			</div>
			<div class="form-group">
				<label for="inputPassword">Company</label>
				<input ng-model="tempUsr.company" class="form-control" placeholder="Enter Company"
				type="text" />
			</div>
			<div class="form-group">
				<label for="inputPassword">email</label>
				<input ng-model="tempUsr.email" class="form-control" placeholder="Input email"
				type="email" id="inputEmail" />
			</div>

			<button type="submit" class="btn btn-primary"  ng-click="signUpRecruiter(tempUsr)">SignUp</button>

		</form>
	</div>

	<div class="col-sm-4 signUpForm" ng-show="content == 'professorSignUp'">
		<div class="header">

			<h3 class="modal-title">Professor</h3>
		</div>

		<form>
			<div class="form-group">
				<label for="inputFirstName">First Name</label>
				<input ng-model="tempUsr.name" class="form-control" placeholder="First Name"
				type="text" id="inputFirstName" />
			</div>
			<div class="form-group">
				<label for="inputLastName">Last Name</label>
				<input ng-model="tempUsr.lastname" class="form-control" placeholder="Last Name"
				type="text" id="inputLastName" />
			</div>
			<div class="form-group">
				<label for="inputUserName">Username</label>
				<input ng-model="tempUsr.username" class="form-control" placeholder="Login Username"
				type="text" id="inputUserName" />
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input ng-model="tempUsr.password" class="form-control" placeholder="New Password"
				type="password" id="inputPassword" />
			</div>
			<div class="form-group">
				<label for="inputPasswordConfirmation">Confirm Password</label>
				<input ng-model="tempUsr.confirmPassword" class="form-control" placeholder="Confirm Password"
				type="password" id="inputPassword" />
			</div>
			<div class="form-group">
				<label for="inputPassword">email</label>
				<input ng-model="tempUsr.email" class="form-control" placeholder="Input email"
				type="email" id="inputEmail" />
			</div>

			<button type="submit" class="btn btn-primary"  ng-click="signUpProfessor(tempUsr)">SignUp</button>
		</form>

	</div>
</div>
