<nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">ProfileAct</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#/student">Home</a></li>
                <li><a href="#/studentEvents">Events</a></li>
                <li><a href="#/studentResearch">Research</a></li>

              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
<div class="container">

    <div class="" layout="row" layout-xs="column">

        <div flex="15">
            <img width="150" height="150" src="{{student.profileImage}}">
        </div>
        <div flex="75" layout="column" class="studentInfo">

            <form editable-form name="editableForm" onaftersave="updateProfile()">
            <ul id="navigation">

                <li>
                    <span editable-text="student.name" e-name="name" e-form="textBtnForm" >
                        {{ student.name || 'empty' }}
                    </span>
                </li>


                <!-- <li flex="100" class="selected" id="software">
                    <h4 ng-if="!editMode">{{student.name}} {{student.lastName}}</h4>
                    <span ng-if="editMode">
                        <md-input-container>
                            <label>Name</label>
                            <input ng-model="student.name" type="text">
                        </md-input-container>
                        <md-button ng-click="updateProfile(student.name); editMode = false">Save</md-button>
                    <span>
                </li> -->
                <!-- <li flex="100" class="" id="news">{{student.major}}</li> -->

                <li>
                    <span editable-text="student.major" e-name="major" e-form="textBtnForm">
                        {{ student.major || 'empty' }}
                    </span>
                </li>
                <!-- buttons to submit / cancel form -->
                <span ng-show="editableForm.$visible">
                    <md-button type="submit" ng-disabled="editableForm.$waiting">
                      Save
                    </md-button>

                </span>

            </ul>
            </form>

        </div>
        <span>
            <md-button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                Edit
            </md-button>
            <md-button type="button" ng-show="editableForm.$visible" ng-click="editableForm.$cancel()">
                Done
            </md-button>
      </span>

    </div>

    <section class="projects" layout="column">
        <div layout="row" class="row">
            <h3 flex="90">Extracurricular Projects</h3>
            <md-button flex="10" type="button" ng-show="editableForm.$visible" ng-click="editableForm.$cancel()">
                Done
            </md-button>
        </div>

        <div class="row" >
            <ul  >

                <li ng-repeat="project in student.projects" class="col-md-4 col-sm-6 col-xs-12">
                    <md-button class="md-default md-raised" ng-click="showAdvanced($event, project)">
                      <img width="200px" height="200px" src="{{project.picture}}">
                    </md-button>
                    <h5>{{project.title}}</h5>
                </li>
            </ul>
        </div>

    </section>


    <section class="research" layout="column">
        <h3 flex>Research</h3>
        <!-- <div class="row" >
            <ul>

                <li ng-repeat="r in student.research" class="col-md-4">
                    <h5>{{r.name}}</h5>
                    <p>{{r.department}}</p>
                    <p>Advisor: {{r.advisor}}</p>

                </li>
            </ul>
        </div> -->

        <table class="table" width="75%">

        <tr>
            <th>Title</th>
            <th>Department</th>
            <th>Advisor</th>
            <th>Role</th>
        </tr>
        <tr ng-repeat="r in student.research">
            <td>{{ r.name }}</td>
            <td>{{ r.department }}</td>
            <td>{{ r.advisor }}</td>
            <td>{{ r.role }}</td>
        </tr>

        </table>

    </section>

    <form name="reviewForm" ng-submit="addProject(project)">


        <h4>Add a Project</h4>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" name="title" ng-model="project.title" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea name="description" class="form-control" ng-model="project.description"></textarea>
            </div>
        </div>
        <!-- <div class="form-group">
            <datetimepicker data-ng-model="data.date" ></datetimepicker>
        </div> -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-click="addProject(project)" class="btn btn-primary">Insert Event</button>
            </div>
        </div>
    </form>


</div>
