<div class="container">

    <h1>Search Reasearch</h1>
    <md-input-container>
        <label>Global search</label>
        <input ng-model="query" type="search">
    </md-input-container>
    <table class="table table-striped">
        <tr>
            <th>Name</th><th>Major</th><th>Advisor</th><th>View</th>
        </tr>
        <tr ng-repeat="research in results | filter: query">
            <td>{{ research.name }}</td><td>{{ research.department }}</td><td>{{ research.advisor }}</td><td><button class="btn btn-success" data-target="#viewModal" data-toggle="modal" ng-click="display(student)">Look!</button></td>
        </tr>
    </table>

</div>