<div class="container">

	<div class="" layout="row">

		<div flex="15">
			<img width="150" height="150" src="{{profileImage}}">
		</div>
		<div flex="75" layout="column" class="studentInfo">
			<ul id="navigation">

                <li flex="100" class="selected" id="software"><h4>{{firstName}} {{lastName}}</h4></li>
                <li flex="100" class="" id="news">{{major}}</li>


            </ul>

		</div>
        <a flex="10" href="{{resume}}"><md-button>See Resume</md-button></a>

	</div>




    <br><br><br>
    <section class="projects" layout="column">
        <h3 flex>Extracurricular Projects</h3>
        <div class="row" >
            <ul ng-repeat="project in projects" >

                <li class="col-md-4">
                    <img width="200px" height="200px" src="{{project.picture}}">
                    <h5>{{project.name}}</h5>
                </li>
            </ul>
        </div>

    </section>


    <section class="research" layout="column">
        <h3 flex>Research</h3>
        <div class="row" >
            <ul ng-repeat="r in research" >

                <li class="col-md-4">
                    <h5>{{r.name}}</h5>
                    <p>{{r.department}}</p>
                    <p>Advisor: {{r.advisor}}</p>

                </li>
            </ul>
        </div>

    </section>

    <div>
        <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
          Custom Dialog
        </md-button>
    </div>

		<!-- <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		      <md-button>{{firstName}}</md-button>
		      <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
		      <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
		      <md-button class="md-warn">{{lastName}}</md-button>
		      <div class="label">Flat</div>
	    </section> -->



</div>